@model DAY_5_PPRACTICE.Models.User

<!Doctype html>
    <head><title>user profile</title></head>
    <body>
        <h1>User profile</h1>
        <hr/>
        <p><strong>ID:</strong>@Model.Id</p>
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Age:</strong> @Model.Age</p>
        <p><strong>Address:</strong> @Model.Address</p>
        <p><strong>Phone:</strong> @Model.Phone</p>
    </body>
</html>
<!--at the rate model tells the view what type of data to expect
    at the rate model..NAME displays the value
    at the rate symbol switches frim html to c#
-->